<p id="notice"><%= notice %></p>

<h1>Meetings</h1>
<div id="calendar-wrapper">
  <div class="calendar-sidebar">
    <div class="calendar-sidebar-item">
      <div class="tab">
        <button id="month-button" class="tablinks" onclick="openCalendar(event, 'Month')">Month</button>
        <button class="tablinks" onclick="openCalendar(event, 'Week')">Week</button>
      </div>
    </div>
    <div class="calendar-sidebar-item">
      <div id="calendar-activities">
        Activities today:
        <% @meetings.today_only.each do |meeting| %>
          <div>
            <%= link_to meeting.name, meeting %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="calendar-sidebar-item">
      world
    </div>
  </div>
  <div id="Month" class="tabcontent">
    <%= render :partial => 'month_view' %>
  </div>

  <div id="Week" class="tabcontent">
    <%= render :partial => 'week_view' %>
  </div>
</div>

<br>

<table>
  <%= link_to 'New Meeting', new_meeting_path %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time %></td>
        <td><%= link_to 'Show', meeting %></td>
        <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

